{% extends 'base.html.twig' %}

{% block title %}Accueil - Bibliothèque de l'école de Boursonne{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/BibliothequeEcole/public/" class="active">Accueil</a></li>
                    <li><a href="/BibliothequeEcole/public/Bibliotheque">Bibliothèque</a></li>
                    <li><a href="/BibliothequeEcole/public/Eleves">Élèves</a></li>
                    <li><a href="/BibliothequeEcole/public/Emprunts">Emprunts</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Bibliothèque de l'école de Boursonne</h1>
                    <h3>Les emprunts</h3>
                    <table class=" table table-striped table-bordered">
                        <tr>
                            <th>Date d'emprunt</th>
                            <th>Date de retour</th>
                            <th>Livre</th>
                            <th>Élève</th>
                        </tr>
                        {% if emprunts is not empty %}
                            {%for emprunt in emprunts %}
                                <tr>
                                    <td>{{emprunt.dateEmprunt|date('d-m-Y H:i')}}</td>
                                    <td>{{emprunt.dateRetour is empty ? "" :emprunt.dateRetour|date('d-m-Y H:i')}}</td>
                                    <td>{{emprunt.livre.titre}}</td>
                                    <td>{{emprunt.eleve.prenom}} {{emprunt.eleve.nom}}</td>
                                </tr>
                            {%endfor%}
                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}