{% extends 'base.html.twig' %}

{% block title %}Choix du livre - Bibliothèque de l'école de Boursonne{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/BibliothequeEcole/public/" class="active">Accueil</a></li>
                    <li><a href="/Bibliotheque">Bibliothèque</a></li>
                    <li><a href="/BibliothequeEcole/public/Eleves">Élèves</a></li>
                    <li><a href="/BibliothequeEcole/public/Emprunts">Emprunts</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h1>Choix du livre</h1>
                <p> Quel livre veux-tu {{eleve.prenom}} {{eleve.nom}} ? </p>
            </div>
            {%for livre in livres %}
                <a href="/BibliothequeEcole/public/Emprunt/Livre/{{livre.id}}-{{eleve.id}}"><p>{{livre.titre}}</p></a>
            {%endfor%}
        </div>
    {% endblock %}
{% endblock %}